exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "recordPlot")
importFrom("graphics", "boxplot", "plot")
importFrom("stats", "cov", "rnorm")
importFrom("corpcor", "pseudoinverse", "is.positive.definite")
importFrom("mvtnorm", "rmvnorm")
importFrom("Matrix", "nearPD")
importFrom("qpgraph", "qpG2Sigma")
importFrom("igraph", "is.igraph", "is.directed", "get.adjacency", "simplify", "graph.edgelist")
importFrom("bnlearn", "gs")
